
.column-left {
    padding: 20px;
    float: left;
    width: 33%;
}

.column-right {
    padding: 20px;
}

.row-height {
  height: 100vh;
}

.column-header {
    height: 5vh;
}
.column-scroll {
  height: 87vh;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  top: 2em;
}

.submit-button {
  position: absolute;
  bottom: 15px;
  right: 15px;
}


.container-fluid {
}

.row-height {
    height: 100vh;
}

.submit-button {
    margin-top: 10px;
}

.copy-button {
    position: absolute;
    bottom: 15px;
    left: 15px;
}

.card-result {
    width: 18rem;
    margin-bottom: 10px;
    max-height: 275px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-logo {
    float: right;
    width: 4em;
}

.card-link-footer {
    margin: unset;
}

.left-aligned {
    text-align: left;
}

.download-csv {
    position: fixed;
    right: 25px;
    top: 15px;
}
